html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Artifakt Element", sans-serif;
  min-height: 900px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 10px 0;
}

.wrapper > weave-button {
  width: 100%;
}

h2 {
  font: var(--medium-large-regular);
  margin: 0;
}

p {
  font: var(--high-medium-regular);
  margin: 0;
}

.example-item {
  border-bottom: 1px solid var(--divider-lightweight);
  padding: 8px 0;
  width: 100%;
}

.example-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--medium-small-bold);
}

.example-item-header.expanded {
  margin-bottom: 12px;
}
